[Unit]
BindsTo=wedding@%i.service
After=wedding@%i.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/etcdctl.env
ExecStart=/bin/sh -c "while true; do etcdctl set /sites/katieandjoegethitched.com/wedding-%i wedding-%i:4000 --ttl 20; sleep 10; done"
ExecStop=/usr/bin/etcdctl rm /sites/katieandjoegethitched.com/wedding-%i

[X-Fleet]
MachineOf=wedding@%i.service